*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --backColor:#fffffd;
  --textColor:#182c2b;
  --mainColor:#f8ad26;
  --accentColor:#d53839;
  --greyColor:#e9e9e9;
  --succesColor:#b3ff78;
  --errorColor:#ffaaaa;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 12px;
  color: var(--textColor);
  background-color: var(--mainColor);
}
.container{
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--backColor);
  box-shadow: 0px 0px 20px 0px var(--textColor);
}
.title{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}
.data{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}
.data__header{
  position: relative;
  flex-basis: 100%;
}
.data__header::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid var(--textColor);
}
.data__title{
  position: relative;
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--backColor);
}
.data__input{
  flex-basis: calc(50% - 5px);
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--textColor);
  transition: background-color .3s;
}
.data__input:focus-visible{
  outline: none;
  background-color: var(--greyColor);
}
.data__input--error, .data__input--error:focus-visible{
  background-color: var(--errorColor);
}
.data__input--succes, .data__input--succes:focus-visible{
  background-color: var(--succesColor);
}
.content{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  outline: 1px solid var(--textColor);
  gap: 20px;
}
.info{
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__message{
  padding: 2px 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.info__message--error {background-color: var(--errorColor);}
.info__message--success {background-color: var(--succesColor);}

.button{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button__element{
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: var(--backColor);
  background-color: var(--accentColor);
  cursor: pointer;
  transition: background-color .3s;
}
.button__element[disabled]{
  background-color: var(--errorColor);
  cursor: default;
}

.field{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content:space-around;
  padding: 3px 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--textColor);
}
legend{
  padding: 1px 6px;
  border-radius: 5px;
  color: white;
  background-color: var(--accentColor);
}
.field__item{
  display: flex;
  align-items: center;
}
.field__item:focus-visible {outline: none;}
.field__item[type="color"]{
  width: 25px;
  height: 25px;
}

.qr{
  flex-basis: 300px;
  height: 300px;
  background-color:var(--greyColor);
}

.options{
  flex-basis: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
}

/* :::::: STYLES FOR GITHUB LINK :::::: */

.repo-link{
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}
.main-color {fill: var(--accentColor);}
.second-color {fill: var(--backColor);}
.arm {transform-origin: 130px 106px;}
.icon:hover .arm {animation: arm-movement .6s ease-in-out;}

@keyframes arm-movement {
  0%, 100% {transform: rotate(0);}
  20%, 60% {transform: rotate(-25deg);}
  40%, 80% {transform: rotate(10deg);}
}

/* :::::: MEDIA QUERIES :::::: */

@media screen and (max-width: 480px){
  .content{
    padding: 0;
    outline: none;
  }
  .button {gap: 10px;}
  .data__input {flex-basis: 100%;}
}

@media screen and (max-width: 600px) {
  .container{
    width: 100%;
    padding: 20px 10px;
    border-radius: 0;
    box-shadow: none;
  }
  .repo-link{
    width: 60px;
    height: 60px;
  }
}